body {
  margin: 25px 60px;
}
h2,
p,
a {
  display: flex;
  justify-content: space-evenly;
  text-align: center;
  margin-bottom: 25px;
}
a {
  color: blueviolet;
  text-decoration: none;
}
img {
  max-width: 100px;
}
.mail-link {
  color: red;
}
